<footer id="site-footer" class="py-8 pb-4 print:hidden">
  <div class="flex items-center justify-between">
    <p class="text-sm text-neutral-500 dark:text-neutral-400">
      OSRTOS.COM is a website about open source real-time operating systems and open source embedded projects.<br />
      Most of the text is available under the Creative Commons Attribution-ShareAlike License.
    </p>
  </div>
  <script>
    {{ if not .Site.Params.disableImageZoom | default true }}
    mediumZoom(document.querySelectorAll("img:not(.nozoom)"), {
      margin: 24,
      background: 'rgba(0,0,0,0.5)',
      scrollOffset: 0,
    })
    {{ end }}
  </script>
  {{ $jsProcess := resources.Get "js/process.js" }}
  {{ $jsProcess = $jsProcess | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $jsProcess.RelPermalink }}" integrity="{{ $jsProcess.Data.Integrity }}"></script>
  {{/* Extend footer - eg. for extra scripts, etc. */}}
  {{ if templates.Exists "partials/extend-footer.html" }}
  {{ partialCached "extend-footer.html" . }}
  {{ end }}
</footer>
